.toy-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr3);
  width: 200px;
  height: 390px;
  justify-content: space-between;
  border-radius: 5px;
  text-align: center;
}

.toy-preview ul {
  padding-inline-start: 0px;
}

.toy-preview li {
  text-align: center;
}

.toy-preview .preview-img {
  width: 160px;
  height: 160px;
}
