.toy-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr3);
  width: 200px;
  height: 200px;
  justify-content: space-around;
}

.toy-preview ul {
  padding-inline-start: 0px;
}

.toy-preview li {
  text-align: center;
}
